@media (min-width: 1201px) {
  .main-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  br {
    display: none;
  }

  .nav-bar {
    background-color: snow;
    height: 99vh;
    overflow-y: hidden;
    text-align: center;
    width: 250px;
    border: none;
  }

  .nav-ul {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }

  .nav-li {
    list-style: none;
    /* box-shadow: 9px 9px 18px #623d12, -9px -9px 18px #673b0d; */
    border-radius: 17px;
    padding-top: 15px;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-weight: 300;
  }

  .nav-li-a {
    color: #fcaf58;
    font-family: "Roboto";
    font-weight: 100;
    font-style: italic;
    font-size: 1.3rem;
    text-decoration: none;
  }

  .nav-active {
    color: #ff8811;
    font-size: 1.4rem;
    font-family: "Roboto";
    font-weight: 100;
    font-style: italic;
    transition: all 0.3s ease-out;
    text-decoration: none;
  }
}
@media (max-width: 600px) {
  .main-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .nav-bar {
    background-color: snow;
    height: 100vh;
    overflow-y: hidden;
    text-align: center;
    margin: 0;
    width: 75px;
    border: none;
  }

  .nav-ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-left: 0;
  }

  .nav-li {
    list-style: none;
    border-radius: 17px;
    padding: 15px;
    font-family: "Roboto";
    font-weight: 100;
  }

  .nav-li-a {
    font-family: "Roboto";
    color: #fcaf58;
    font-size: 1.2em;
    text-decoration: none;
  }
  br {
    display: none;
  }

  .nav-active {
    font-family: "Roboto";
    color: #ff8811;
    transition: all 0.3s ease-out;
    font-size: 1.5em;
    text-decoration: none;
  }
  .span-disappear {
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .main-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .nav-bar {
    background-color: snow;
    height: 100vh;
    overflow-y: hidden;
    text-align: center;
    margin: 0;
    width: 170px;
    border: none;
  }

  .nav-ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    justify-content: center;
  }

  .nav-li {
    list-style: none;
    border-radius: 17px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding: 20px;
    font-weight: 100;
  }

  .nav-li-a {
    color: #fcaf58;
    font-size: 1.15em;
    font-family: "Roboto";
    text-decoration: none;
  }

  .nav-active {
    font-family: "Roboto";
    color: #ff8811;
    transition: all 0.3s ease-out;
    font-size: 0.95em;
    text-decoration: none;
  }
}
