@media (min-width: 1201px) {
  .main {
    width: 100%;
    position: relative;
    background-position-x: center;
    background-repeat: no-repeat;
  }

  .img-main {
    max-width: 35%;
    background-color: snow;
    height: auto;
    position: absolute;
    top: -30%;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }

  .img-background {
    width: 300px;
    height: 120px;
    border-radius: 100%;
  }
}
@media (max-width: 600px) {
  .main {
    position: relative;
    width: 100%;
  }

  .img-main {
    max-width: 75%;
    background-color: snow;
    height: auto;
    position: absolute;
    top: -70%;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  .main {
    width: 100%;
    position: relative;
  }

  .img-main {
    max-width: 55%;
    background-color: snow;
    height: auto;
    position: absolute;
    top: -34%;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
}
