@media (min-width: 1201px) {
  .description {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 25px;
    width: fit-content;
    height: 100%;
    font-size: 16px;
  }
  .nav-ul-desc {
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }

  .nav-li-desc {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Amatic SC";
    font-weight: bold;
    color: #ffbf00;
    font-weight: 600;
    font-size: 18px;
  }

  .closeButton {
    line-height: 12px;
    width: 20px;
    height: 20px;
    width: auto;
    font-size: 8pt;
    font-family: tahoma;
    margin: 0;
    padding: 0;
    position: relative;
    left: 125px;
    top: -290px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(209, 16, 16);
    border-radius: 100%;
    border-width: 0;
  }

  .i-button-size {
    font-size: 25px;
  }

  .img-description {
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .img-description:hover {
    box-shadow: 0 0 3px 2px rgb(240, 229, 130);
  }
}

@media (max-width: 600px) {
  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    font-size: 16px;
    position: relative;
  }
  .nav-ul-desc {
    padding-top: 1px;
    padding-bottom: 0.5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }

  .nav-li-desc {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-family: "Amatic SC";
    font-weight: bold;
    color: #ffbf00;
    font-weight: 600;
    font-size: 15px;
  }

  .closeButton {
    font-size: 2pt;
    font-family: tahoma;
    position: absolute;
    left: 50%;
    top: 0;
    right: 0;
    bottom: 93%;
    background-color: rgba(245, 243, 243, 0);
    color: red;
    border-radius: 100%;
    border-width: 0;
  }

  .i-button-size {
    font-size: 18px;
  }

  .img-description {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .img-description:hover {
    box-shadow: 0 0 3px 2px rgb(240, 229, 130);
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .description {
    padding: 15px 32px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    font-size: 16px;
  }

  .nav-ul-desc {
    padding-top: 1px;
    padding-bottom: 0.5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }

  .nav-li-desc {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Amatic SC";
    font-weight: bold;
    color: #ffbf00;
    font-weight: 600;
    font-size: 18px;
  }

  .closeButton {
    line-height: 5px;
    width: 3px;
    height: 5;
    width: auto;
    font-size: 2pt;
    font-family: tahoma;
    margin-top: 0.5px;
    margin-right: 1px;
    position: absolute;
    top: 0;
    right: 0;
    left: 35%;
    bottom: 88%;
    background-color: rgba(255, 255, 255, 0);
    color: red;
    border-radius: 100%;
    border-width: 0;
  }

  .img-description {
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
  }

  .img-description:hover {
    box-shadow: 0 0 3px 2px rgb(240, 229, 130);
  }

  .i-button-size {
    font-size: 18px;
  }
}
